@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 1440px) and (min-width: 376px) {
  .BackgroundCircles {
    position: absolute;
    background: url("src/routes/assets/bg-pattern-top.svg") -20rem -30rem
        no-repeat,
      url("src/routes/assets/bg-pattern-bottom.svg") 40rem 30rem no-repeat,
      #19a2ae;
  }
}
@media (max-width: 375px) {
  .BackgroundCircles {
    position: absolute;
    background: url("src/routes/assets/bg-pattern-top.svg") -35rem -20rem
        no-repeat,
      url("src/routes/assets/bg-pattern-bottom.svg") 10rem 25rem no-repeat,
      #19a2ae;
    background-size: 200%;
  }
}

@media (min-width: 1441px) {
  .BackgroundCircles {
    position: absolute;
    background: url("src/routes/assets/bg-pattern-top.svg") 0rem -25rem no-repeat,
      url("src/routes/assets/bg-pattern-bottom.svg") 55rem 25rem no-repeat,
      #19a2ae;
  }
}
